.form__submit-button {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 16px;
  padding: 14px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: 3px;
  background-color: #4285F4;
}

.form__submit-button:disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
}

.form__submit-button:disabled:hover {
  cursor: auto;
  opacity: 1;
}
