.section__title {
  padding: 0 0 23px 0;
  width: 100%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 750px) {
  .section__title {
    font-size: 18px;
    padding-bottom: 26px;
  }
}
